 <header class="navbar navbar-bright navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a href="/" class="navbar-brand">Home</a>
      </div>
      <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li>
            <a *ngIf="!user.authenticated" href="/auth/google">Sign in with <i class="fa fa-google-plus"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div id="masthead">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Joyous Nightlife
          <p class="lead">Find a bar near you!</p>
        </h1>
        </div>
      </div>
    </div>
    <!-- /cont -->

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-spacer"> </div>
        </div>
      </div>
    </div>
    <!-- /cont -->

  </div>


  <div class="container">
    <div class="row">

      <div class="col-md-12">

        <div class="panel">
          <div class="panel-body">
            <!--/bars-->
            <bars-viewer [user]='user' (barClicked)="addBar($event)"></bars-viewer>
            <!--/bars-->
            <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>


          </div>
        </div>



      </div>
      <!--/col-12-->
    </div>
  </div>


  <hr>

  <div class="container" id="footer">
    <div class="row">
      <div class="col col-sm-12">

        <h1>Follow Me</h1>
        <div class="btn-group">
          <a class="btn btn-twitter btn-lg" href="https://twitter.com/MBoyko92" target="_blank"><i class="icon-twitter icon-large"></i> Twitter</a>
          <a class="btn btn-github btn-lg" href="https://github.com/MaxBoykoII"><i class="icon-github icon-large"></i> GitHub</a>
        </div>

      </div>
    </div>
  </div>

  <hr>

  <hr>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>Built by @MBoyko92 using Angular2, the yelp Api, and a template from <a href="http://www.bootply.com">Bootply</a></p>
        </div>
      </div>
    </div>
  </footer>